.ipynb_checkpoints
img/Thumbs.db
example_solutions/
example_solutions/*
draft_cells.ipynb
Untitled.ipynb
review_exercise_solutions/*
model_answers/*
README_rendering_html_slides.txt
draft_notebooks/*
model_answers/
temp/
temp/*
in-class_solutions/
in-class_solutions/*
Seminar_1_Intro.ipynb
